.overlay {
    position: fixed;
    top: 70px;
    right: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 900;
  }
  
  /* .dashboard-content {
    margin-top: 60px;
    padding: 20px;
  } */
  
  .faculty-dashboard-layout{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  }
 .faculty-dashboard-main-wrapper{
  display: flex;
  flex: 1;
 }
 .faculty-dashboard-content{
  flex: 1;
  padding: 20px;
  overflow-y: auto;
 }