.overlay {
    position: fixed;
    top: 70px;
    right: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 900;
  }
  
  /* .dashboard-content {
    margin-top: 60px;
    padding: 20px;
  } */
  