.footer-box {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002e3b;
  color: #80a9b5;
}
.footer-line{
    display: flex;
    align-items: center;
    align-content: center;
}