.credit-selecter-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; /* space between buttons */
  justify-content: center; /* center the button group */
  margin: 10px 0;
}

.credit-selecter-button {
  padding: 8px 16px;
  background-color: transparent;
  color: #002e3b;
  border: 2px solid #002e3b;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.credit-selecter-button:hover {
  background-color: #002e3b;
  color: white;
}
.credit-selecter-button.active {
  background-color: #002e3b;
  color: white;
  font-weight: bold;
}