.sidebar {
    position: fixed;
    top: 70px;
    right: 0; /* <-- changed from left: 0 */
    width: 220px;
    height: 100%;
    background-color: #1f2937;
    color: white;
    transform: translateX(100%); /* <-- slide in from right */
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.open {
    transform: translateX(0); /* visible */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 15px 20px;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    background-color: #374151;
  }
  .faculty-siderbar-logout-button{
    background-color: #002e3b;
    border: 0.2px solid white;
    border-radius: 10px;
    color: #80a9b5;
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    width: 80px;
  }
  .faculty-siderbar-logout-button:hover{
    border: 0.03px solid rgb(240, 101, 101);
    background-color: #024c61;
  }
  .faculty-topbar-logout-container{
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    align-items: center;
  }